@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* the imported code has to be the first line of code in your css file  then you also have to set it that the html file should be the font youre using*/
/* to do css reset is '*' */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Box sizing makes the size of each box its original size */
}


html{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
/* This is how you let css know that the font should be poppins in this case */

#logo{
    width: 40px;
    height: 40px;
}
img{
    width: 100%;
    height: 100%;
}

/* This is a header styling */
header{
    border-bottom: 1px solid #C4C4C4;    

}

#header_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* justify-self:
    align-self: center;
    align-content: center;
    justify item (all these are all under flexbox) */   
    padding: 24px 0;
}

ul,ol{
    list-style: none;
    /* This removes the bullet points from the links */
}
a{
    text-decoration: none;
    /* removes the undereline from the link */
}

.container{
    max-width: 1440px;
    margin: 0 auto; 
    /* In this margin above margin top and bottom us '0' while left and right is on auto, this makes your screen responsive when you zoom in and when you zoom out */

}

nav > ul{
    display: flex;
    gap: 28px;
 
}
nav > ul > li > a{
color: #5F9CFF;
}

#login{
    color: #ffffff;
    background-color: #5F9CFF;
    padding: 6px 44px;
    border-radius: 32px;
}


/* HERO SECTION STYLING */

/* UTILITY CLASS STYLING */
.px-100 {
    padding-left: 100px !important;
    padding-right: 100px !important;
}
.text_style{
    font-size: 18px;
    font-weight: 400;
    color: #2D2D2D;
}

.btn{
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 32px;
    border: none;

}

#hero_content{
    display: flex;
    padding: 160px 0;
    gap: 164px;
    align-items: center;
}

#text_container h1{
    font-size: 76px;
    font-weight: 700;
    color: #2D2D2D;
    line-height: 1.3;
}
#text_container p{
    width: 70%;
    margin-top: 24px;
    margin-bottom: 28px;
}

#special{
    color: #F268A9;
}


#image_container{
    width: 560px;
    height: 360px;
    border-radius: 24px;
}

#btn_primary{
    background-color: #6482DD;
    color: #ffffff;
}

#btn_secondary{
    background-color: transparent;
    color: #6482DD;
    border: 2px solid #6482DD;
}

#play{
    font-size: 14px;
    margin-left: 8px;
}

[btn_container]{
    display: flex;
    gap: 12px;
}


/* RECORDS SECTION STYLING */
#records{
    background-color: #EEF2FF;
}

#records div{
    padding: 64px 0;

}

#heading_container{
    width: fit-content;
}

#heading_container{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}

#heading_container p{
    width: 60%;
}
